@use "abstracts" as *;

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    background-color: white;
    color: $clr-accent-1;
    box-shadow: $box-shadow;
    overflow: hidden;
    margin-bottom: 2rem;

    h1 {
        font-family: $ff-windlass;
        margin-left: 2rem;
    }

    .menu {
        display: flex;
        align-items: center;
    }

    .nav a {
        padding: 1rem;
        color: $clr-dark;
        text-decoration: none;
        margin-right: 1rem;

        &:hover {
            color: $clr-accent-1;
            text-decoration: underline;
        }
    }

    .dropdown {
        display: inline-block;

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 10rem;
            box-shadow: $box-shadow;
            z-index: 1;
        }
    
        .dropdown-content a {
            color: black;
            padding: 1rem;
            text-decoration: none;
            display: block;
            text-align: left;
    
            &:hover {
                //background-color: #F1F1F1;
                color: $clr-accent-1;
                text-decoration: underline;
            }
        }
    }
      
    .dropdown:hover .dropdown-content {
        display: block;
    }
}