@use 'variables' as *;

.container {
  display: flex;
  align-items: center;
  // height: 4rem;
  padding: 0 3rem;
  position: relative;
  background-color: white;
  color: $clr-accent-1;
  box-shadow: $box-shadow;

  h1 {
    font-family: $ff-windlass;
    font-size: $fs-heading;
    user-select: none;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.toggle {
  cursor: pointer;
  font-size: 1rem;
}

.menu {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  text-align: center;
  background-color: white;
}

@media (min-width: 768px) {
  .container {
    height: auto;
    padding-left: 3rem;
    padding-right: 0;
  }

  .toggle {
    display: none;
  }
}
