@use 'variables' as *;

.nav {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  background-color: white;
}

.profileButton {
  display: none;
}

@media (min-width: $sm) {
  .nav {
    position: static;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .container {
    margin-left: auto;
  }

  .profileButton {
    display: block;
    margin-left: auto;
  }

  .dropdown {
    position: absolute;
  }
}

@media (min-width: $md) {
  .nav {
    justify-content: space-between;
  }
}

.dropdownLink {
  display: block;

  &:hover {
    border: none;
  }
}
