@use 'variables' as *;

.container {
  display: flex;
  height: 100vh;
  background-color: white;
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  background-color: $clr-accent-1;

  h1 {
    font-family: $ff-windlass;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 9rem;
  }
}

.rightContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto 0;

  h1 {
    font-family: $ff-windlass;
    color: $clr-accent-1;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  p {
    width: 25rem;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .formField input {
      width: 25rem;
    }

    .formField {
      margin-bottom: 2rem;

      &:last-of-type {
        margin-bottom: 4rem;
      }
    }

    a {
      width: 100%;
      display: block;
      text-align: right;
      text-decoration: none;
      color: $clr-accent-1;
      margin-bottom: 4rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .question {
    text-align: center;
    margin-top: 1rem;

    a {
      text-decoration: none;
      color: $clr-accent-1;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 920px) {
  .container {
    flex-direction: column;

    .leftContent {
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 0 2rem;

      h1 {
        text-align: left;
        margin: 0;
      }
    }

    .rightContent {
      width: 100%;
      padding: 5rem 0;
    }
  }
}

@media (max-width: 480px) {
  .leftContent {
    h1 {
      font-size: 2rem;
    }
  }

  .rightContent {
    .formField input {
      width: 20rem !important;
    }

    p {
      width: 20rem;
    }
  }
}
