@use 'variables' as *;

.container {
  display: flex;
  flex-direction: column;

  .leaderboard {
    height: auto;
    background-image: linear-gradient($clr-dark, $clr-accent-1);
    padding-top: 3rem;

    a {
      display: flex;
      justify-content: flex-end;
      text-decoration: none;
      font-size: 1.1rem;
      color: white;
      margin-right: 3rem;

      &:hover {
        text-decoration: underline;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      h1 {
        text-align: center;
        font-size: 2.5rem;
        font-family: $ff-windlass;
        margin-bottom: 2rem;
      }

      .ship {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .studentItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      padding: 5rem 5rem 2rem 5rem;

      li {
        flex-grow: 0;
        list-style: none;
        margin-bottom: 2rem;
      }
    }

    .pagination {
      button {
        display: inline-block;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        text-align: center;
        width: 10ch;
        height: 3rem;
        cursor: pointer;
        margin: 1rem;

        &:disabled {
          display: none;
        }

        &:hover:not(:disabled) {
          background-color: white;
          color: $clr-accent-1;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .container {

    .studentItem ul {
      justify-content: center;
    }
  }
}
