@use 'variables' as *;

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;

  .leftContent {
    width: 50%;
    padding: 3rem 5rem;

    .profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4rem;

      .details {
        width: 60%;

        .bars {
          margin-top: 1rem;

          .bar:not(:last-child) {
            margin-bottom: 1rem;
          }
        }

        h1 {
          font-family: $ff-windlass;
        }
      }
    }

    .groupParticipant {
      h1 {
        font-family: $ff-windlass;
        text-decoration: underline $clr-accent-3 solid;
        text-decoration-thickness: 4px;
        text-underline-offset: 0.5rem;
        margin-bottom: 3rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        padding-inline-start: 0;

        li {
          list-style: none;
          height: 30vh;
          flex-grow: 1;
        }
      }
    }
  }

  .rightContent {
    width: 50%;
    padding: 3rem 5rem;
    background-color: $clr-light;

    h1 {
      font-family: $ff-windlass;
      text-decoration: underline $clr-accent-3 solid;
      text-decoration-thickness: 4px;
      text-underline-offset: 0.5rem;
      margin-bottom: 3rem;
    }
  }
}

@media (max-width: 1200px) {
  .profile {
    flex-direction: column;

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100% !important;

      .bars {
        width: 20rem;
      }
    }

    h1 {
      text-align: center;
    }
  }
}

@media (max-width: 950px) {
  .container {
    flex-direction: column;

    .leftContent {
      width: 100%;
    }

    .rightContent {
      width: 100%;
    }
  }
}


@media (max-width: 540px) {
  .groupParticipant {
    ul li {
      height: 25vh !important;
    }
  }
}