@use 'variables' as *;

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;

  .leftContent {
    width: 50%;
    padding: 3rem 5rem;

    .profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4rem;

      .image {
        border-radius: 100;
      }

      .details {
        width: 60%;

        .attr {
          display: flex;
          gap: 3rem;
          
          .gold, 
          .potion {
            display: flex;
            align-items: center;
            gap: 1rem;
          }
        }

        .bars {
          margin-top: 1rem;

          .bar:not(:last-child) {
            margin-bottom: 1rem;
          }
        }

        h1 {
          font-family: $ff-windlass;
          color: white;
        }
      }
    }

    .assessment {
      h1 {
        font-family: $ff-windlass;
        text-decoration: underline white solid;
        text-decoration-thickness: 4px;
        text-underline-offset: 0.5rem;
        margin-bottom: 2rem;
      }

      .bar {
        margin-bottom: 1rem;
      }
    }
  }

  .rightContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    background-color: rgba($clr-accent-1, 0.4);

    h1 {
      padding: 3rem 5rem 0 5rem;
      margin-bottom: 3rem;
      font-family: $ff-windlass;
      text-decoration: underline white solid;
      text-decoration-thickness: 4px;
      text-underline-offset: 0.5rem;
      color: white;
    }

    .tasks {
      margin: 0 5rem;
      padding-right: 1rem;
      max-height: 50vh;
      overflow-y: auto;
      @include scrollbar;
    }

    .image {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 1200px) {
  .profile {
    flex-direction: column;

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100% !important;

      .bars {
        width: 20rem;
      }
    }

    h1 {
      text-align: center;
    }
  }
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;

    .leftContent {
      width: 100%;
    }

    .rightContent {
      width: 100%;
    }
  }
}
