@use 'variables' as *;

.container {
  display: flex;
  background-color: white;
  height: 100vh;

  .leftContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto 0;

    h1 {
      font-family: $ff-windlass;
      color: $clr-accent-1;
      font-size: 3rem;
      text-align: center;
      margin-bottom: 5rem;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .form {
        display: flex;
        gap: 3rem;
        margin-bottom: 4rem;
      }

      .formField {
        margin-bottom: 1rem;

        input {
          width: 15rem;
        }
      }
    }

    .question {
      text-align: center;
      margin-top: 1rem;

      a {
        text-decoration: none;
        color: $clr-accent-1;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .rightContent {
    width: 60%;
    background-color: $clr-accent-1;

    h1 {
      font-family: $ff-windlass;
      color: white;
      font-size: 3rem;
      text-align: center;
      margin-top: 7rem;
    }
  }
}
