@use 'variables' as *;

.container {
  display: flex;
  flex-direction: column;

  .leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32rem;
    background-image: linear-gradient($clr-light, white);
    padding-top: 3rem;

    h1 {
      text-align: center;
      font-size: 2.5rem;
      font-family: $ff-windlass;
      text-decoration: underline $clr-accent-3 solid;
      text-decoration-thickness: 4px;
      text-underline-offset: 0.5rem;
      margin-bottom: 3rem;
    }

    .ship {
      display: flex;
      justify-content: space-between;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5rem;

    li {
      flex-grow: 0;
      list-style: none;
      margin-bottom: 2rem;
    }
  }
}
