$clr-dark: #272727;
$clr-light: #CDCDC2;
$clr-accent-1: #244C4C;
$clr-accent-2: #80D5AD;
$clr-accent-3: #EBBA78;
$clr-health: #E90909;
$clr-exp: #46D322;

$ff-windlass: "Windlass", sans-serif;
$ff-pragroman: "PragRoman", sans-serif;
