$clr-dark: #272727;
$clr-light: #CDCDC2;
$clr-accent-1: #244C4C;
$clr-accent-2: #80D5AD;
$clr-accent-3: #EBBA78;
$clr-health: #E90909;
$clr-exp: #46D322;
$clr-gray: #E5E5E5;
$clr-font: #000000;

$ff-windlass: "Windlass", sans-serif;
$ff-pragroman: "PragRoman", sans-serif;

$fs-paragraph: 1rem;
$fs-heading: 2rem;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
