@use 'variables' as *;

.button {
  display: inline-block;
  background-color: $clr-accent-1;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1.35rem;
  font-family: $ff-pragroman;

  &:hover {
    background-color: rgba($clr-accent-1, 0.95);
  }
}
