@use "../abstracts/variables" as *;

.button {
  display: inline-block;
  background-color: $clr-accent-1;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem 0;
  width: 12ch;
  font-family: $ff-pragroman;

  &:hover {
    background-color: rgba($clr-accent-1, 0.95);
    text-decoration: underline;
  }
}
