@use 'variables' as *;

.button {
  display: inline-block;
  width: 100%;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  text-decoration: none;
  background-color: $clr-accent-1;
  color: white;

  &:hover {
    background-color: rgba($clr-accent-1, 0.95);
  }
}

@media (min-width: $sm) {
  .button {
    width: 8.83rem;
    height: 5rem;
    line-height: 5rem;
  }
}

.custom {
  width: auto;
  padding: 0 2rem;
}
