@import "../abstracts/variables";

.classitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 4rem;
  background-color: white;
  box-shadow: $box-shadow;
  margin: 1rem 8rem;

  p {
    margin: 0;
  }

  .image {
    height: 100%;
  }

  .class {
    display: flex;

    .number {
      background-color: $clr-accent-1;
      color: white;
      text-align: center;
      width: 4rem;
    }

    p {
      margin: 1.5rem 1rem;
    }
  }

  .level {
    display: flex;

    p {
      margin: 0.5rem 1rem;
    }
  }

  .bars {
    margin: 0.25rem 1.5rem;

    .bar {
      margin: 0;
    }
  }
}
