@use "abstracts" as *;

.classitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 4rem;
  background-color: white;
  box-shadow: $box-shadow;
  margin: 1rem 8rem;

  .class {
    display: flex;

    .number {
      background-color: $clr-accent-1;
      color: white;
      text-align: center;
      width: 4rem;
    }

    p {
      margin: 1.5rem 1rem;
    }

    .class_name {
      width: 12rem;
    }
  }

  .level {

    p {
      margin: auto 1rem;
    }
  }

  .bars {
    margin: 0.25rem 1.5rem;
    width: auto;

    .bar {
      margin: 0;
    }
  }
}
