@use 'variables' as *;

.classitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 6rem;
  background-color: white;
  box-shadow: $box-shadow;
  margin: 2rem auto;

  .class {
    display: flex;
    width: 35%;

    .number {
      background-color: $clr-accent-1;
      color: white;
      text-align: center;
      min-width: 3rem;
      width: 6rem;
      height: 6rem;

      p {
        margin: 0;
        line-height: 6rem;
      }
    }

    .profile {
      display: flex;
      align-items: center;
      flex-shrink: 0;

      p {
        min-width: 6rem;
        flex-shrink: 0;
        margin-left: 1rem;
      }
    }
  }

  .level {
    flex-shrink: 0;

    p {
      //margin: auto 1rem;
    }
  }

  .bars {
    margin-right: 3rem;
    width: 225px;

    .bar:first-child {
      margin-bottom: 0.5rem;
    }
  }
}

@media (max-width: 950px) {
  .classitem {
    width: 85%;

    .bars {
      width: 200px;
    }
  }
}

@media (max-width: 850px) {
  .classitem {
    width: 95%;
  }
}

@media (max-width: 750px) {
  .classitem {
    width: 100%;
    margin: 0;
    box-shadow: none;
    border-bottom: 2px solid $clr-gray;

    .bars {
      width: 150px;
    }
  }
}