@use 'variables' as *;

.form {
  position: relative;
  font-family: $ff-montserrat;
  font-size: 1.1rem;
  font-weight: 600;

  .formLabel {
    display: block;
    margin-bottom: 0.5rem;
  }

  .input {
    background-color: $clr-gray;
    max-width: 25rem;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid $clr-accent-1;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 0.5rem;

    &:focus {
      outline: none;
      border-bottom: 3px solid $clr-accent-2;
    }
  }

  .error {
    font-size: 0.9rem;
  }
}

.required::after {
  content: '*';
  position: absolute;
  color: red;
  margin-left: 0.25rem;
  top: -0.35rem;
  font-size: 1.25rem;
}
