@use 'variables' as *;

.level {
  display: flex;
  max-width: auto;
  font-family: $ff-montserrat;
  font-size: 1.1rem;
  font-weight: 600;

  p {
    background-color: $clr-accent-2;
    color: $clr-dark;
    margin: auto 0 auto 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 15px;
  }
}

@media (max-width: 600px) {
  .classitem {
    .image {
      width: 25px;
    }

    p {
      font-size: 0.8rem;
      margin: auto 0.5rem;
    }
  }
}