@use 'variables' as *;

.level {
  display: flex;
  width: auto;
  margin: 1rem;
  font-family: $ff-montserrat;
  font-size: 1.1rem;
  font-weight: 600;

  p {
    background-color: $clr-accent-2;
    margin: auto 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 15px;
  }
}
