@use '../variables' as *;

.link {
  display: block;
  width: 100%;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  text-decoration: none;
  background-color: white;
  color: $clr-dark;

  &:hover {
    color: $clr-accent-1;
  }
}

@media (min-width: $sm) {
  .link {
    display: inline-block;
    width: 8rem;
    height: 5rem;
    line-height: 5rem;

    &:hover {
      border-bottom: 4px solid $clr-accent-1;
    }
  }
}

.custom {
  display: block;

  &:hover {
    border: none;
  }
}

.first {
  margin-left: auto;
}

.last {
  margin-right: auto;
}
