@use 'variables' as *;

.card {
  display: inline-block;
  background-color: white;
  box-shadow: $box-shadow;
  margin: auto;

  .student {
    text-align: center;
  }
}

.leaderboard {
  width: 200px;
  height: 240px;
}

.group {
  width: 140px;
  height: 180px;
}

@media (max-width: 750px) {
  .leaderboard {
    width: 160px;
    height: 200px;
  }
}

@media (max-width: 540px) {
  .leaderboard {
    width: 115px;
    height: 155px;
  }

  .group {
    width: 115px;
    height: 155px;
  }
}
