@use 'variables' as *;

.card {
  display: inline-block;
  width: 200px;
  height: 250px;
  background-color: white;
  box-shadow: $box-shadow;
  margin: 25px;

  .student {
    text-align: center;
  }
}
