@use 'variables' as *;

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: $box-shadow;

  .student {
    margin: auto;

    p {
      text-align: center;
      margin: 0;
      padding: 1rem;
    }
  }
}

.leaderboard {
  width: 180px;
  height: 230px;
}

.group {
  width: 140px;
  height: 180px;
}

@media (max-width: 750px) {
  .card .student p {
    font-size: 10px;
  }

  .leaderboard {
    width: 160px;
    height: 200px;
  }
}

@media (max-width: 620px) {
  .card .student p {
    font-size: 8px;
  }

  .leaderboard {
    width: 140px;
    height: 180px;
  }
}

@media (max-width: 540px) {
  .leaderboard {
    width: 115px;
    height: 155px;
  }

  .group {
    width: 115px;
    height: 155px;
  }
}
