@use 'variables' as *;

.container {
  display: flex;
  max-width: 40rem;
  margin-bottom: 2rem;
  background-color: white;
  color: $clr-dark;
  box-shadow: $box-shadow;
  border: 2px solid $clr-accent-1;

  h3 {
    margin-top: 0;
    font-weight: normal;
  }
}

.body {
  padding: 1rem;
  width: 100%;
}

.info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: $clr-accent-1;

  a {
    display: flex;
    align-items: baseline;
    color: inherit;
    text-decoration: none;

    span {
      margin-left: 0.5rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.score {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  min-width: 6ch;
  outline: 2px solid $clr-accent-1;

  > div {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-of-type {
      background-color: $clr-accent-1;
      color: white;
    }
  }
}

@media (max-width: 520px) {
  .container {
    flex-direction: column;
  }

  .score {
    flex-direction: row;
    min-height: 2.5rem;
  }
}
