@font-face {
  font-family: "Windlass";
  src: url("../../public/fonts/Windlass.woff") format("woff");
}

@font-face {
  font-family: "PragRoman";
  src: url("../../public/fonts/PragRoman.woff") format("woff");
}
