$clr-dark: #272727;
$clr-light: #cdcdc2;
$clr-accent-1: #244c4c;
$clr-accent-2: #80d5ad;
$clr-accent-3: #ebba78;
$clr-health: #e90909;
$clr-exp: #46d322;
$clr-gray: #e5e5e5;
$clr-font: #000000;

$ff-windlass: 'Windlass', cursive;
$ff-pragroman: 'PragRoman', cursive;
$ff-montserrat: 'Montserrat', sans-serif;

$fs-paragraph: 1rem;
$fs-heading: 2rem;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$sm: 640px;
$md: 904px;
