@use 'reset' as *;
@use 'variables' as *;

@font-face {
  font-family: 'Windlass';
  src: url('../public/fonts/Windlass.woff') format('woff');
}

@font-face {
  font-family: 'PragRoman';
  src: url('../public/fonts/PragRoman.woff') format('woff');
}

body {
  background-color: white;
  font-family: $ff-pragroman;
  color: $clr-font;
}
