@use 'reset' as *;
@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Windlass';
  src: url('../public/fonts/Windlass.woff') format('woff');
}

@font-face {
  font-family: 'PragRoman';
  src: url('../public/fonts/PragRoman.woff') format('woff');
}

body {
  background-color: white;
  font-family: $ff-pragroman;
  color: $clr-font;
}
