@use "base" as *;
@use "vendor" as *;
@use "abstracts" as *;
@use "layout" as *;

* {
  margin: 0;
}

body {
  background-color: $clr-light;
  font-family: $ff-pragroman;
  font-size: $fs-paragraph;
  color: $clr-font;
}
